
<div class="bg">
    <button class="btn btn-danger" (click)="back()">Back</button><span></span>
    
    <button class="btn btn-info" (click)="newRegistration()">Add Hotel</button><span></span>

    <h1 class="fw-bolder">Hotel-list</h1>
    <!-- <button class="btn btn-primary" (click)="addNewHotel(data.id,data.body)">Add Hotel</button> -->
    <table class="table table-bordered table-striped">
        <thead class="thead-dark ">
            <tr>
                <th>ID</th>
                <th>Owner Name</th>
                <th>Hotel Name</th>
                <th>Menu</th>
                <th>Available Rooms</th>
                <th>Hotel Address</th>
                <th>Contact</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of apiData">
                
                <td>{{data.id}}</td>
                <td>{{data.userName}}</td>
                <td>{{data.hotelName}}</td>
                <td>{{data.hotelMenu}}</td>
                <td>{{data.roomsAvailable}}</td>
                <td>{{data.hotelAddress}}</td>
                <td>{{data.hotelContact}}</td>

           <td><mat-icon (click)="editData(data.id)">create</mat-icon></td>
           <td><mat-icon (click)="deleteData(data.id)">delete</mat-icon></td>
           <!-- <button class="btn btn-primary" (click)="addNewHotel(id,body)">Add Hotel</button> -->
               <!-- <td><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
               </td> -->
            </tr>
        </tbody>
    </table>
    </div>