<!-- <form class="selector" #signin="ngForm" (ngSubmit)="onSubmitSignin()">
    <h1>Admin Log In </h1>
    <div class="form-group">
        <label class="">Username</label>
        <input type="text" class="form-control transparent-input" id="userName" name="userName" ngModel
            placeholder="Please enter your username">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control transparent-input" id="password" name="password" ngModel
            placeholder="Please enter your password">
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-link">Forgot Password?</button>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">LogIn</button>
        <span class="right">Not have Account? <button routerLink="/signup" type="button" class="btn btn-info">Sign
                Up</button>
        </span>
    </div>
</form> -->


<form class="selector" #signin="ngForm" (ngSubmit)="onSubmitSignin()">
    <section class="vh-80 gradient-custom">
        <div class="container py-5 h-10">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="pb-5">
                                <h2 class="fw-bold mb-2">Admin Login</h2>
                                <p class="text-white-50 mb-5">Please enter your login and password!</p>
                                <div class="form-outline form-white mb-4">
                                    <input type="text" id="typeEmailX" name="userName" ngModel
                                        class="form-control form-control-lg" placeholder="Please enter your username" />
                                    <label class="form-label" for="typeEmailX">Username</label>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <input type="password" id="password" name="password" ngModel
                                        class="form-control form-control-lg" placeholder="Please enter your password" />
                                    <label class="form-label" for="typePasswordX">Password</label>
                                </div>
                                <p class="small mb-5 pb-lg-2"><a class="text-white-50" (click)="forgetpassword()">Forgot password?</a>
                                </p>
                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                            </div>
                            <div>
                                <p class="mb-0">Don't have an account? <a (click)="signUp()"
                                        class="text-white-50 fw-bold">Sign Up</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>